/node_modules
/vendor
.env
.env.local
.env.*.local
.DS_Store
Thumbs.db
*.log
*.pem
*.key
.vscode
.idea
.env.testing
storage/logs/*
!storage/logs/.gitkeep
bootstrap/cache/*
!bootstrap/cache/.gitkeep
.phpstorm.meta.php
_ide_helper.php
